* {
  margin : 0px;
  box-sizing: border-box;
}

header{
background:#D3D3D3;
height: 80px;}

.loginform {
 border: 1px solid #ccc;
 padding:50px;
}
#wrap{

width: 40%;
     margin : auto;
	}
#id_username {
    width: 100%;
    height: 40px;
    margin: 0px;
	padding:3px;
    display: inline-block;
    border: 1px solid #ccc;
}
#id_password {
    width: 100%;
    height: 40px;
    margin: 0px;
	padding:3px;
    display: inline-block;
    border: 1px solid #ccc;
}

p{
margin-left: 0px%;
margin-top: 15px;
 font-family: Calibri;}

#btn_login{
  width: 100%;
    height: 40px;
    margin: 8px 0;
	background-color:#66B2FF;
    display: inline-block;
    border: 1px solid #cc}


