{% extends 'base.html' %}
{% block title %}Index List{% endblock %}
{% load static %}
{% block content %}
<div class="leftMenu">
   	<div class="leftMenu-item">
	<div class="col-12">

		<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
		<a class="menus" href="{% url 'equalweight' %}" >Equal Weight </a>
		<a class="active" href="{% url 'ulcapagweight' %}" >Upper/Lower Cap And Aggregate</a>
		<div class="dropdown">
			<div class="dropbtn">Customized Weight</div>
			<div class="dropdown-content" style="display: none;">
				<div class="scroll">
					<table>
						<a class="menus" href="{% url 'aibigdata' %}">AI & Big Data</a>
						<a class="menus" href="{% url 'blockchain' %}">Blockchain</a>
						<a class="menus" href="{% url 'climatechange' %}">Climate Change </a>
						<a class="menus" href="{% url 'ecomm' %}">E-Commerce </a>
						<a class="menus" href="{% url 'foodtech' %}">Food Technology </a>
						<a class="menus" href="{% url 'globalaerospace' %}">Global Aerospace & Defense</a>
						<a class="menus" href="{% url 'globalcloudcomputing' %}">Global Cloud Computing</a>
						<a class="menus" href="{% url 'globalecomm' %}">Global E-Commerce</a>
						<a class="menus" href="{% url 'uprcapweight' %}" >Global Generics/USA e-commerce</a>
						<a class="menus" href="{% url 'globaliot' %}">Global Internet Of Things </a>
						<a class="menus" href="{% url 'globaljuniorcloudcomputing' %}"> Global Junior Cloud Computing </a>
						<a class="menus" href="{% url 'globalspace' %}">Global Space Thematic</a>
						<a class="menus" href="{% url 'globalwearablesiot' %}">Global Wearables And IOT </a>
						<a class="menus" href="{% url 'globalyieldco'%}">Global Yieldco</a>
						<a class="menus" href="{% url 'healthcareinnovation' %}">HealthCare Innovation</a>
						<a class="menus" href="{% url 'hylvpreferred' %}">HYLV Preferred</a>
						<a class="menus" href="{% url 'northamericancannabis' %}">North America Cannabis</a>
						<a class="menus" href="{% url 'oldagenursing' %}">Old Age RIETs </a>
						<a class="menus" href="{% url 'uspoliwogg'%}">Poliwogg US HealthCare</a>
						<a class="menus" href="{% url 'privatecredit' %}">Private Credit</a>
						<a class="menus" href="{% url 'qualitygoldminers'%}">Quality Gold Miners</a>
						<a class="menus" href="{% url 'mlp' %}">Real Asset Income</a>
						<a class="menus" href="{% url 'reitmaster'%}">REIT Master</a>
						<a class="menus" href="{% url 'reitpreferred'%}">REIT Preferred Stock</a>
						<a class="dropdown-btn">SuperDividend Alternative Index<i class="fa fa-caret-down"></i></a>
						<div class="dropdown-container">
						  <li><a class="menus" href="{% url 'superdividendprimary' %}">SuperDividend Primary</a></li>
						  <li><a class="menus" href="{% url 'superdividendsecondary' %}">SuperDividend Secondary</a></li>
						</div>	
						<a class="menus" href="{% url 'mlpsector' %}">SuperDividend US Low Volatility</a>
						<a class="menus" href="{% url 'ussharing' %}">US Sharing Economy</a>
						<a class="menus" href="{% url 'usindustrialrealestatelogistics' %}">US Industrial Real Estate</a>
						<a class="menus" href="{% url 'usjuniorcloudcomputingexpo' %}">US Junior Cloud Computing </a>
						<a class="menus" href="{% url 'ushighbetalow'%}">US High Beta Low Volatility</a>
						<a class="menus" href="{% url 'usecomm' %}"> US E-Commerce </a>
						<a class="menus" href="{% url 'yieldcorenewable'%}">Yieldco & Renewable Energy</a>
						<a class="menus" href="{% url 'g5nextg' %}">5G & NextG Thematic</a>
						</table>
					</table>
				</div>
			</div>
			</div>
	   </div>
	</div>
	</div>
</div>
<div class= "rightArea">
<div class="download">
<i class="fa fa-info-circle" style="font-size:24px"><span class="tooltiptext">Mandatory required column(s) would be in upload-file: <br/>ISIN and SMCAP/FFMCAP</span></i>
Sample File : <a href="{% url 'downloadcsv' %}" download="weight_calc.csv"><button class="downBtn">Download</button></a>
</div>
	<div class="gridDiv">
	<table class="table table-striped" id = "testTable">
		<label class="label-heading">Upper/Lower Cap And Aggregate</label>	
		<tbody>
		<form id="WCForm" name="WCForm" action="{% url 'ulcapagweightpost' %}"  method="post" role="form" enctype="multipart/form-data">
		{% csrf_token %}
		
		<div class="row">

			<div class="column"> 
			<label>Upper Cap Value <span></span></label><br>
			<input type="text" name="upper_cap" id="upper_cap"  onkeypress="return isNumberKey(event)" placeholder="Enter only integer value."><br/>
			</div>

			<div class="column"> 
			<label>Weight Aggregate (%)<span></span></label><br>
			<input type="text" name="agg_cap" id="agg_cap" onkeypress="return isNumberKey(event)"  placeholder="Enter only integer value."><br/>
			</div>
			
			<div class="column"> 
			<label>Upload File <span>*</span></label><br>
			<input type="file" name="upload_file" id="upload_file" accept=".csv" required><br/>
			<span style="color:red">
			{% if message %}
				{{ message }}
			{% endif %}
			</span>
			</div>
			
			<div class="column"> 
			<label>Lower Cap Value <span></span></label><br>
			<input type="text" name="lower_cap" id="lower_cap" onkeypress="return isNumberKey(event)" placeholder="Enter only integer value."><br/>
			</div>
			<div class="column"> 
			<label> Aggregate Security Cap (%)<span></span></label><br>
			<input type="text" name="agg_cap_lower" id="agg_cap_lower" onkeypress="return isNumberKey(event)" placeholder="Enter only integer value."><br/>
			</div>

			<div class="column"> 
			<label></label><br>
			<div onclick="weight_ulag_validation()" class="nextback">Weight Calculate</div>
			</div>
		</div>
		
		</form>
		</tbody>
	</table>
	</div>
	
	<div class="indicesList">
	<p>Apply these parameter(s) for the following Indices to calculate weight</p>
	<div class="col1">
	<div class="paraClass">Upper cap</div>
	<div>1- INDXX INDIA CONSUMER INDEX</div>
	<div>2- INDXX INDIA INFRASTRUCTURE INDEX</div>
	<div>3- INDXX INDIA SMALL CAP INDEX</div>
	<div>4- INDXX ADVANCED LIFE SCIENCES & SMART HEALTHCARE THEMATIC INDEX</div>
	<div>5- INDXX NEW ENERGY & ENVIRONMENT THEMATIC INDEX </div>
	<div>6- INDXX USA CLOUD COMPUTING INDEX </div>
	<div>7- INDXX SMART VECHILE INDEX </div>
	<div>8- INDXX GLOBAL DIGITAL PAYMENTS INDEX </div>
	<div>9- INDXX GLOBAL SHARING ECONOMY INDEX </div>
	<div>10- INDXX SMART VECHICLES INDEX </div>
	<div>11- INDXX US CLOUD COMPUTING PURE EXPOSURE INDEX </div>
	<div>12- US SHARING ECONOMY PURE EXPOSURE INDEX </div>
	<div>13- INDXX US INFRASTRUCTURE DEVELOPMENT INDEX </div>
	<div>14- INDXX CHINA INTERNET THEMATIC INDEX </div>
	<div>15- INDXX POLYWOGG MEDICAL DISRUPTORS MID CAP 50 INDEX (UIT) </div>
	<div>16- INDXX POLYWOGG MEDICAL DISRUPTORS MID CAP INDEX </div>
	<div>17- INDXX POLYWOGG MEDICAL DISRUPTORS SMALL CAP 50 INDEX (UIT) </div>
	<div>18- INDXX POLYWOGG MEDICAL DISRUPTORS MID CAP INDEX (UIT) </div>
	<div>19- INDXX POLYWOGG MEDICAL DISRUPTORS SMALL CAP INDEX </div>
	<div>20- INDXX POLYWOGG BIOTECH THERAPY INDEX </div>
	</div>

	<div class="col1">
		<div class="paraClass">Upper cap and Lower cap</div>
		<div>1- INDXX US INFRASTRUCTURE DEVLOPEMENT INDEX</div>
		<div>2- INDXX MILLENNIALS THEMATIC INDEX</div>
	</div>

	<div class="col1">
	<div class="paraClass">Upper cap and Aggregate cap</div>
	<div>1- INDXX GLOBAL AGRICULTURE INDEX</div>
	<div>2- INDXX GLOBAL NATURAL RESOURCES INCOME INDEX</div>
	<div>3- INDXX CYBERSECURITY INDEX </div>
	<div>4- INDXX GLOBAL FINTECH THEMATIC INDEX</div>
	<div>5- INDXX GLOBAL ROBOTICS & ARTIFICIAL INTELIGENCE THEMATIC INDEX </div>
	<div>6- INDXX OLD AGE REITS INDEX </div>
	<div>7- INDXX GLOBAL HEALTH & WELLNESS THEMATIC INDEX</div>
	<div>8- INDXX GLOBAL LONGEVITY THEMATIC INDEX</div>
	</div>
	</div>
</div>

{% endblock %}